// This stylesheet is used to style the public facing form of the plugin.

// Ignore the following comment. It's only here to be passed along to the compiled
// CSS file to keep people from editing it directly.

/* DO NO EDIT FILE DIRECTLY. USE SRC/DISPLAY.SCSS */

@import 'compass';

// Pullquote styling
$pullquote-border: 3px solid #868686;
.pullquote {
	width: 20%;
	float: right;
	border-top: $pullquote-border;
	border-bottom: $pullquote-border;
	background: top left no-repeat url('../img/quote.png');
	text-indent: 10px;
	margin: 10px 0 10px 10px;
	@include box-shadow( #818181 7px 7px 8px );
}