// This stylesheet is used to style the public facing form of the plugin.

// Ignore the following comment. It's only here to be passed along to the compiled
// CSS file to keep people from editing it directly.

/* DO NO EDIT FILE DIRECTLY. USE SRC/DISPLAY.SCSS */

@import 'compass';

// Pullquote styling
.pullquote {
	width: 20%;
	text-indent: 10px;
	margin: 10px 0 10px 10px;
}

// Social media widget
.social-media {
	padding: 0;

	ul {
		width: 100%;
		margin: 0 auto;
	}
}

.social-media-item {
	float: left;
	width: 16.6666666666667%;

	a {
		display: block;
		height: 36px;
		width: 36px;
		direction: ltr;
		text-indent: -999em;
		background-repeat: no-repeat;
		background-position: left top;
		background-image: url('../img/social-media/social-icons.png');
		margin: auto;

		&:hover {
			background-position: left bottom;
		}
	}
}

a.googleplus {
	background-position:-30px -160px;

	&:hover {
		background-position:-95px -160px;
	}
}

a.facebook {
	background-position:-30px -290px;

	&:hover {
		background-position:-95px -290px;
	}
}

a.twitter {
	background-position:-30px -420px;

	&:hover {
		background-position:-95px -420px;
	}
}

a.flickr {
	background-position:-30px -355px;

	&:hover {
		background-position:-95px -355px;
	}
}

a.youtube {
	background-position:-30px -95px;

	&:hover {
		background-position:-95px -95px
	}
}

a.rss {
	background-position:-30px -485px;

	&:hover {
		background-position:-95px -485px;
	}
}

a.instagram {
	background-position:-30px -30px;

	&:hover {
		background-position:-95px -30px;
	}
}

a.linkedin {
	background-position:-30px -225px;

	&:hover {
		background-position:-95px -225px;
	}
}

a.pinterest {
	background-position:-30px -550px;

	&:hover {
		background-position:-95px -550px;
	}
}
